
*{
    font-family: "Nunito",sans-serif;
    
}

body{
    display: grid;
    grid-template-columns: 200px 5fr;
    grid-template-rows: 1fr 5fr;
    height: 98vh;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom right,#8390FA,#00B2CA);
}

nav{
    background-color: rgba(255,255,255,0.9);
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    gap: 4rem;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    padding: 1rem;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-left: solid 1px white;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}
    .logo{
        font-weight: 800;
        display: flex;
        align-items: center;
    }

    .menu{
        list-style: none;
        padding-left:0;
    }

    li{align-items: center;
        line-height: 3rem;
    }

header{
    background-color: rgba(255,255,255,0.8);
    display: grid;
    grid-template-columns: repeat(8);
    grid-template-rows: auto auto;
    padding: 1rem;
    box-sizing: border-box;
    border-top-right-radius: 20px;
    border-top: solid 1px white;
    border-right: solid 1px white;
}
    .search{
        grid-column-start: 1;
        grid-column-end: 6;
        display: flex;
        justify-content: left;
    }

    #searchIcon{
        padding-right: 1rem;
        align-self: center;
        
    }

    input{
        padding: 1rem;
        border-radius: 20px;
        box-sizing: border-box;
        border: none;
        width: 75%;
        min-width: 300px;
        height:1rem;
        margin-right: 2rem;
        align-self: center;
        background-color: rgba(255,255,255,0.6);
    }

    .profile{
        width:50%;
        min-width: 300px;
        grid-column-start: 6;
        grid-column-end: 9;
        display: flex;
        justify-content:flex-end;
        gap: 2rem;
        justify-self: flex-end;
    }

    #profilePicSmall{
        width: 50px;
        height: 50px;
        align-self: center;
        border-radius: 50%;
        border: solid;
        border-width: 1px;
        border-color: #F7F2F5;
    }

    #profilePicMed{
        width: 100px;
        border-radius: 50%;
        grid-row-start: 1;
        grid-row-end: 3;
        border: solid;
        border-width: 1px;
        border-color: #F7F2F5;
    }

    .intro{
        grid-column-start: 1;
        grid-column-end: 6;
        display: grid;
        grid-template-columns: auto 5fr;
        grid-template-rows: 1fr;
    }

    #welcome{
        align-self: center;
        margin-left: 1rem;
      
    }

    #welcomeName{
        font-size: 2.5vw;
        font-style: italic;
        font-weight: bold;
    }

    .action{
        grid-column-start: 6;
        grid-column-end: 9;
        display: flex;
        justify-content: end;
        gap: 0.5rem;
        align-items: flex-end;
    } 
    
    button{
        display: flex;
        border: none;
        padding: 0rem;
        border-radius: 20px;
        box-sizing: border-box;
        width: 6rem;
        line-height: 0rem;
        height: 0rem;
        padding: 1rem;
        justify-content: center;
        background-color: rgba(255,255,255,0.6);
    }

    button:hover{
        background-color: white;
    }

    button:active{
        box-shadow: 0px 0px 15px rgba(255,255,255,0.8);
    }
main {
    
    display: grid;
    grid-template-columns: 3fr minmax(200px,1fr);
    grid-template-rows: 1fr;
    box-sizing: border-box;
    border-bottom-right-radius: 20px;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
    background-color: rgba(255,255,255,0.8);
}

    .projects{
        grid-row-start: 1;
        grid-row-end: 3;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: minmax(200px,4fr);
        padding: 0rem 1em 0rem 1rem;
        overflow: scroll;
        height:72vh;
    }

    .projectCell{
        background-color: rgba(247,242,245,0.8);
        margin: 1rem;
        border-radius: 10px;
        border-top:solid;
        border-top-width: 10px;
        border-image-slice: 1;
        border-image-source: linear-gradient(to left, #FF6978, #d53a9d);
        box-sizing: border-box;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
        padding-left: 1rem;
        padding-right: 1rem;
        transition: transform .2s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .projectCell:hover{
        transform: scale(1.05);
    }

    .prjIcons{
        display: flex;
        justify-content: end;
        padding-bottom: 1rem;
    }

    .announcements{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height:calc(60vh/2);
        padding-top: 1rem;
        margin-right: 1rem;
        background-color: rgba(255,255,255,0.4);
        border-radius: 20px;
    }

    .announcements #one, #two, #three{
        
        padding-left: 1rem;
        padding-right: 1rem;
        margin-right: 1rem;
        overflow: hidden;
        
    }

    .trending{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 4fr 4fr 4fr;
        padding: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        border-radius: 20px;
        height:calc(59vh/2);
        background-color: rgba(255,255,255,0.4);

    }

    .social{
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
    }   

        .socialPic{
            grid-row-start: 1;
            grid-row-end: 3;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            align-self: center;
        }

        .socialContent{
            padding-left: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .socialUsername{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .socialTitle{
            -webkit-line-clamp: 1;
            margin: 0;
        }

    .mainHeading{
        grid-column-start: 1;
        grid-column-end: -1;
        padding-left: 1rem;
    }

    
p{
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden; 
    font-size: small;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}



h5 {
    -webkit-line-clamp: 1;
    margin: 0;
}

/* 
Disabled to use for mobile version, hamburger menu etc - doesn't work at all.

@media only screen and (max-width: 495px) {
    body{
        grid-template-columns: 20px 5fr;
    }
    
}
*/