
*{
    font-family: "Nanum Gothic",sans-serif;
    
}

body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 98vh;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom right,#8390FA,#00B2CA);
}

/*should this be flex> */
nav{
    background-color: rgba(255,255,255,0.4);
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    padding: 1rem;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

    .menu{
        list-style: none;
    }

header{
    background-color: rgba(255,255,255,0.8);
    display: grid;
    grid-template-columns: repeat(8, 2fr);
    grid-template-rows: 2fr 3fr;
    padding: 1rem;
    box-sizing: border-box;
    border-top-right-radius: 20px;
}
    .search{
        grid-column-start: 1;
        grid-column-end: 6;
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
    }

    #searchIcon{
        padding-right: 1rem;
        
    }

    input{
        padding: 1rem;
        border-radius: 20px;
        box-sizing: border-box;
        border: none;
        width: 100%;
        height:1rem;
    }

    .profile{
        grid-column-start: 6;
        grid-column-end: 9;
        justify-self: end;
    }

    #profilePicSmall{
        width: 60px;
        border-radius: 50%;
        border: solid;
        border-width: 1px;
        border-color: #F7F2F5;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2), -5px -5px 10px rgba(255,255,255,0.6);
    }

    #profilePicMed{
        width: 100px;
        border-radius: 50%;
        grid-row-start: 1;
        grid-row-end: 3;
        border: solid;
        border-width: 1px;
        border-color: #F7F2F5;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2), -5px -5px 10px rgba(255,255,255,0.6);
    }

    .intro{
        grid-column-start: 1;
        grid-column-end: 6;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 3fr;
    }

    .action{
        grid-column-start: 6;
        grid-column-end: 9;
        justify-self: end;
    }
main {
    background-color: rgba(255,255,255,0.6);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-sizing: border-box;
    border-bottom-right-radius: 20px;
}

    .projects{
        grid-row-start: 1;
        grid-row-end: 3;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-template-rows: 40px;
        grid-auto-rows: minmax(200px,4fr);
        margin: 1rem;
        overflow: scroll;
        height: 80vh;
    }

    .projectCell{
        background-color: rgba(247,242,245,0.4);
        margin: 1rem;
        border-radius: 10px;
        border-top:solid;
        border-top-width: 10px;
        border-image-slice: 1;
        border-image-source: linear-gradient(to left, #FF6978, #d53a9d);
        box-sizing: border-box;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
        padding-left: 1rem;


    }

    .announcements{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 4fr 4fr 4fr;
        margin: 1rem;
    }

    .trending{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 4fr 4fr 4fr 4fr;
        margin: 1rem;

    }

    .mainHeading{
        grid-column-start: 1;
        grid-column-end: -1;
    }

    
